/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



/*Importe de estilos Loginación*/
//@import '~firebaseui/dist/firebaseui.css';

/*Elimina Controles de Google Maps*/
a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
  display: none !important;
}
.gm-bundled-control .gmnoprint {
  display: block;
}
.gmnoprint:not(.gm-bundled-control) {
  display: none;
}
.gm-svpc{
  display: none;
}

.ion-color-primario {
    --ion-color-base: var(--ion-color-primario);
    --ion-color-base-rgb: var(--ion-color-primario-rgb);
    --ion-color-contrast: var(--ion-color-primario-contrast);
    --ion-color-contrast-rgb: var(--ion-color-primario-contrast-rgb);
    --ion-color-shade: var(--ion-color-primario-shade);
    --ion-color-tint: var(--ion-color-primario-tint);
  }

  .ion-color-secundario {
    --ion-color-base: var(--ion-color-secundario);
    --ion-color-base-rgb: var(--ion-color-secundario-rgb);
    --ion-color-contrast: var(--ion-color-secundario-contrast);
    --ion-color-contrast-rgb: var(--ion-color-secundario-contrast-rgb);
    --ion-color-shade: var(--ion-color-secundario-shade);
    --ion-color-tint: var(--ion-color-secundario-tint);
  }

  .ion-color-terciario {
    --ion-color-base: var(--ion-color-terciario);
    --ion-color-base-rgb: var(--ion-color-terciario-rgb);
    --ion-color-contrast: var(--ion-color-terciario-contrast);
    --ion-color-contrast-rgb: var(--ion-color-terciario-contrast-rgb);
    --ion-color-shade: var(--ion-color-terciario-shade);
    --ion-color-tint: var(--ion-color-terciario-tint);
  }

  .ion-color-cuarteto {
    --ion-color-base: var(--ion-color-cuarteto);
    --ion-color-base-rgb: var(--ion-color-cuarteto-rgb);
    --ion-color-contrast: var(--ion-color-cuarteto-contrast);
    --ion-color-contrast-rgb: var(--ion-color-cuarteto-contrast-rgb);
    --ion-color-shade: var(--ion-color-cuarteto-shade);
    --ion-color-tint: var(--ion-color-cuarteto-tint);
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
